/* Title Section */

.title {
  text-align: center;
}


/* Carousell Section */

.carouselsize {
  width: 1200px;
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* Enter Race Button Section */

.buttons {
  text-align: center;
}

/* Pilot Edit */
input[readonly]{
  background-color:transparent;
  border: 0;
  font-size: 1em;
}