<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <title>Race Course Pilots</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <!-- Navigation Bar-->
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/racecourses">Race Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pilotlist">Pilots</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >About Us</a>
        </li>
      </ul>
    <br><br>
    <div class="title">
    <h1>Race Course Pilots</h1>
    <h2>[[${raceCourse.race.raceName}]]</h2>
    
    <br><br>

    
        
            <!-- <a class="laptimer" href="/laptimer">Adam</a> <br>
            2. Bob <br>
            3. Calvin <br>
            4. Delan <br>
         -->
    </div>

    <div>
        <table id="result-table" class="table table-striped">
            <thead>
                <tr>
                    
                  <td>Pilot Name</td>
                  <td>Drone Name</td>
                  <td>ID</td>
                  <!-- <td>Edit</td> -->
                  <!-- <td>Delete</td> -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="rc: ${raceCourse.pilot}">
                  
                  <td><a th:href="@{/laptimer/{pilotId}/{raceId}(pilotId=${rc.id}, raceId=${raceCourseId})}">[[${rc.pilotName}]]</a></td>

                  <td>[[${rc.droneName}]]</td>
                  <td>[[${rc.id}]]</td>
                  <td><!-- Edit Pilot -->
                    <!-- <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#editModal">
                        Edit Pilot
                    </button> -->
                    
                    <!-- Modal -->
                    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Pilot</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Pilot ID:
                            <br>
                            Name of Pilot:
                            <br>
                            Quad Name:
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div></td>
                  <td><!-- Delete Pilot -->
                    <!-- <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#deleteModal">
                        Delete Pilot
                    </button> -->
                    
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Pilot</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Pilot ID:
                            <br>
                            Name of Pilot:
                            <br>
                            Quad Name:
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div></td>
                </tr>
            </tbody>
          </table>
    </div>
    

    <br><br>

    <!-- Add Pilot -->
    <div class="buttons">
    <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#addModal">
        Add Pilot
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Pilot</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Pilot ID:
            <br>
            Name of Pilot:
            <br>
            Quad Name:
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>

    

    

    

    
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>